!!!5
%html
  %head
    = partial '_partials/head', :locals => {:title => current_page.title }

  %body

    .container

      = partial '_partials/header'
      = partial '_partials/menu'

      #main.entry{:role => "main"}

        %article
          %h1= current_page.title

          .tags
            %h6 Published under:
            %ul
              - current_page.tags.each do |tag|
                %li= link_to tag, tag_path(tag)

          %time= current_page.date.strftime('%B %e, %Y')
  
          .post= yield
          %h2 Comments and Reactions
          #disqus_thread 

      = partial '_partials/sidebar'
      = partial '_partials/footer'

:javascript
  var disqus_shortname = 'jamesflorentino'; // required: replace example with your forum shortname
  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
