!!!5
%html
  %head
    = partial '_partials/head', :locals => {:title => 'Portfolio'}

  %body
    .container
      = partial '_partials/header'
      = partial '_partials/menu'

      #main{:role => "main"}
        %h1 Portfolio
        .summary
          = yield

      = partial '_partials/sidebar'
      = partial '_partials/footer'
