- featured_article = blog.articles[0]

%article.featured

  %h1= link_to featured_article.title, featured_article.url
  %time= featured_article.date.strftime('%B %e, %Y')
  .tags
    %h6 Pubished Under
    %ul
    - featured_article.tags.each do |tag|
      %li= link_to tag, tag_path(tag)

  .summary
    - if featured_article.data.thumb
      %a{ :href => featured_article.url }
        = image_tag featured_article.data.thumb
    = featured_article.summary


.recent-articles

  - blog.articles[1...10].each do |article|

    - thumb = article.data.thumb
    - summary = article.summary

    %article.recent
      %h2= link_to article.title, article.url
      .summary
        - if thumb
          %a{ :href => article.url }
            = image_tag thumb
        = summary
      %time= article.date.strftime('%B %e, %Y')
      .tags
        %ul
        - article.tags.each do |tag|
          %li= link_to tag, tag_path(tag)
